body {background-image: url(https://kartinki.pics/uploads/posts/2021-07/thumbs/1627475463_22-kartinkin-com-p-staraya-zheltaya-bumaga-tekstura-krasivo-24.jpg)}
ul {list-style-type: none;
font-family: "Birthstone Bounce";}
.copyright {color: #1B153D}
#imp {
  box-sizing: content-box;
  width: 70%;
  font-size: 18px;
  color: #3C0400;
  border: 3px solid #15131F;
  padding: 8px;
  margin: 5px;
}